---
- name: dhcp.network
  template:
    src: dhcp.network
    dest: /etc/systemd/network/dhcp.network
  register: network_config

- name: reload network
  command: systemctl restart systemd-networkd
  when: network_config.changed

- name: make.conf
  template:
    src: make.conf
    dest: /etc/portage/make.conf

- name: Portage Tree
  mount:
    name: /usr/portage
    src: portage.condi.me:/usr/portage
    fstype: nfs4
    state: mounted
    opts: "noauto,x-systemd.automount"

- name: Portage Overlay (bencord0)
  template:
    src: bencord0.conf
    dest: /etc/portage/repos.conf/bencord0.conf

- name: Sync overlay (bencord0)
  command: emaint sync -r bencord0
  args:
    creates: /usr/local/portage/README

- name: Configure locales
  template:
    src: locale.gen
    dest: /etc/locale.gen
  register: localegen

- name: Generate locales
  command: locale-gen
  when: localegen.changed
